@charset "UTF-8";
/* Приклад 5 - Змінні та імпорт*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Обнуляємо заголовків*/
h1 {
  font-size: 20px;
  margin: 0px 0 20px 0px;
}

h2 {
  font-size: 18px;
}

html,
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 16px;
}

body {
  padding: 10px;
}

.example {
  border: 1px solid #333;
  margin: 0 0 20px 0;
}

.descript,
.code {
  margin: 0 0 10px 0;
}

.head,
.descript,
.theory,
.css,
.code {
  padding: 10px;
}

.descript {
  background: #dfd;
}

.code {
  background: #ffd;
}

.code__border {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.css span,
.theory p {
  font-weight: 700;
}

.theory {
  background-color: gold;
}

.css {
  background-color: #ddd;
}

.href {
  display: block;
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.href :hover {
  background-color: gold;
}

.block-decoration {
  padding: 10px;
  margin: 0 0 15px 0;
  /*height: 220px;*/
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.block-decoration p {
  display: inline-block;
  padding: 3px 5px;
  font-weight: bold;
  background-color: #ffa;
  border-radius: 3px;
  border: 1px solid #777;
}

/* Стенд */
.block,
.block-none,
.block-child {
  margin: 0 0 30px 0;
}

.block-child {
  color: red;
}

.block p,
.block-none p,
.block-child {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.link {
  color: red;
}

.textinput {
  border: 1px solid #666;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  width: 300px;
  margin: 0 0 10px 0;
}

.textbutton {
  display: block;
  width: 300px;
  height: 50px;
  background: #666;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.list li,
.list-ntt li {
  font-size: 18px;
  margin: 0 0 15px 0;
}

/* Приклад 1 - Вкладеність тегу*/
.block__teg {
  padding: 30px;
  font-size: 50px;
  line-height: 60px;
}

.block__teg span {
  color: green;
}

.block__teg .block__teg_text {
  font-size: 80px;
}

/* Приклад 2 - Вкладеність класу*/
.block__class {
  padding: 30px;
  font-size: 50px;
  line-height: 60px;
}

.block__class span {
  color: green;
}

.block__class .block__class_text {
  font-size: 80px;
}

/* Приклад 3 - Багаторівнева вкладеність -">" */
.block__up {
  padding: 30px;
  font-size: 50px;
  line-height: 60px;
}

.block__up > p {
  color: red;
}

.block__up .block__up_text {
  font-size: 80px;
}

.block__up .block__up_text span {
  color: green;
}

/*Приклад 4 - Багаторівнева вкладеність - "&"*/
.block__link {
  padding: 30px;
  font-size: 50px;
  line-height: 60px;
}

.block__link .block__link_text {
  font-size: 80px;
}

.block__link .block__link_text span {
  color: green;
}

.block__link.block--big {
  font-size: 100px;
}

.link {
  color: blue;
  text-decoration: underline;
  font-size: 20px;
}

.block__link .link {
  font-size: 100px;
}

.link:hover {
  color: green;
}

.link:active {
  color: blueviolet;
}

.link::before {
  content: "!";
}

.link::after {
  content: "?";
}

/*Приклад 5 - Змінні та імпорт*/
.block__val {
  padding: 30px;
  line-height: 60px;
}

.block__val .block__val_text {
  font-size: 100px;
}

.block__val .block__val_text span {
  color: green;
}

.link__val {
  color: #000;
  text-decoration: underline;
  font-size: 100px;
}

.block__val .link__val {
  font-size: 100px;
}

.link__val:hover {
  color: #fff;
}

/*Приклад 6 - шаблони*/
/*стиль шаблону*/
.tplbordergreen, .link__shab {
  font-size: 100px;
  border-bottom: 5px dashed green;
}

.block__shab {
  padding: 30px;
  line-height: 60px;
}

.block__shab .block__shab_text {
  font-size: 100px;
}

.block__shab .block__shab_text span {
  color: green;
}

.link__shab {
  color: #000;
  text-decoration: underline;
  font-size: 100px;
}

.block__shab .link__shab {
  font-size: 100px;
}

.link__shab:hover {
  color: #fff;
}

.link__shab-2 {
  font-size: 80px;
  border-bottom: 5px dashed #000;
}

/*стиль шаблону*/
.link__shab-2 {
  font-size: 100px;
  border-bottom: 5px dashed red;
}

/*Приклад 7 - Міксіни*/
.block__mix {
  padding: 30px;
  line-height: 60px;
}

.block__mix .block__mix_text {
  font-size: 100px;
}

.block__mix .block__mix_text span {
  color: green;
}

.link__mix {
  color: #000;
  text-decoration: underline;
  font-size: 100px;
}

.block__mix .link__mix {
  font-size: 100px;
}

.link__mix:hover {
  color: #fff;
}

.link__mix-2 {
  font-size: 50px;
  color: green;
  border-bottom: 5px dashed #000;
}

/*Приклад 8 - Математичні операціїи*/
.block__mat {
  width: 31.25%;
  background-color: #777;
  padding: 30px;
  line-height: 60px;
}

.block__mat .block__mat_text {
  font-size: 100px;
}

.block__mat .block__mat_text span {
  color: green;
}

.link__mat {
  color: #000;
  text-decoration: underline;
  font-size: 100px;
}

.block__mat .link__mat {
  font-size: 100px;
}

.link__mat:hover {
  color: #fff;
}

.link__mat-2 {
  font-size: 50px;
  color: green;
  border-bottom: 5px dashed #000;
}
