@charset "UTF-8";
/* Приклад 5 - Змінні та імпорт*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Обнуляємо заголовків*/
h1 {
  font-size: 20px;
  margin: 0px 0 20px 0px;
}

h2 {
  font-size: 18px;
}

html,
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 16px;
}

body {
  padding: 10px;
}

.example {
  border: 1px solid #333;
  margin: 0 0 20px 0;
}

.descript,
.code {
  margin: 0 0 10px 0;
}

.head,
.descript,
.theory,
.css,
.code {
  padding: 10px;
}

.descript {
  background: #dfd;
}

.code {
  background: #ffd;
}

.code__border {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.css span,
.theory p {
  font-weight: 700;
}

.theory {
  background-color: gold;
}

.css {
  background-color: #ddd;
}

.href {
  display: block;
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.href :hover {
  background-color: gold;
}

.block-decoration {
  padding: 10px;
  margin: 0 0 15px 0;
  /*height: 220px;*/
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.block-decoration p {
  display: inline-block;
  padding: 3px 5px;
  font-weight: bold;
  background-color: #ffa;
  border-radius: 3px;
  border: 1px solid #777;
}

/* Стенд */
.block,
.block-none,
.block-child {
  margin: 0 0 30px 0;
}

.block-child {
  color: red;
}

.block p,
.block-none p,
.block-child {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.link {
  color: red;
}

.textinput {
  border: 1px solid #666;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  width: 300px;
  margin: 0 0 10px 0;
}

.textbutton {
  display: block;
  width: 300px;
  height: 50px;
  background: #666;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.list li,
.list-ntt li {
  font-size: 18px;
  margin: 0 0 15px 0;
}

.blok__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blok__list li {
  margin: 0 15px 0 0;
}

.blok__list li:last-child {
  margin: 0;
}

.blok__info {
  position: relative;
  padding: 0 0 0 25px;
}

.blok__info_c::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5%;
  width: 10px;
  height: 10px;
  background-color: #ece89d;
}

.blok__info_e::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5%;
  width: 10px;
  height: 10px;
  background-color: #5e5373;
}

.blok__info_v::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5%;
  width: 10px;
  height: 10px;
  background-color: #18b5a4;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 50px;
}

.shpargalka {
  display: block;
  font-size: 18px;
  text-decoration: underline;
  margin: 0 0 20px 0;
}

/* Приклад 1 - display:flex*/
.blok-align-self__row {
  border: 20px solid #ece89d;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blok-align-self__column {
  border: 20px solid #5e5373;
}

.blok-align-self__column_stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.blok-align-self__column_center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.blok-align-self__column_start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.blok-align-self__column_end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.blok-align-self__item {
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

/*Приклад 2 - order - порядок виводу flex-елементів*/
.blok-order__row {
  border: 20px solid #ece89d;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blok-order__column {
  border: 20px solid #5e5373;
}

.blok-order__column_1 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.blok-order__column_2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.blok-order__column_3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.blok-order__item {
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

/*Приклад 3 - flex-basis - базовий розмір flex-елементів*/
.blok-basic__row {
  border: 20px solid #ece89d;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blok-basic__column {
  border: 20px solid #5e5373;
}

.blok-basic__column_auto {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.blok-basic__column_p30 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.blok-basic__column_x250 {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.blok-basic__item {
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

/*Приклад 4 - flex-grow - можливість flex-елементів ставати більшим за значення flex-basis*/
.blok-grow__row {
  border: 20px solid #ece89d;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blok-grow__column {
  border: 20px solid #5e5373;
}

.blok-grow__column_g0 {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.blok-grow__column_g1 {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.blok-grow__item {
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

/*Приклад 5 - flex-shrink - можливість flex-елементів ставати меншими за значення flex-basis*/
.blok-shrink__row {
  border: 20px solid #ece89d;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blok-shrink__column {
  border: 20px solid #5e5373;
}

.blok-shrink__column_s0 {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.blok-shrink__column_s1 {
  -ms-flex-negative: 250px;
      flex-shrink: 250px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.blok-shrink__item {
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

/*Приклад 6 - flex - встановлює значення flex-grow flex-shrink flex-basis*/
.blok-flex__row {
  border: 20px solid #ece89d;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blok-flex__column {
  border: 20px solid #5e5373;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.blok-flex__item {
  background-color: #18b5a4;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}
