/*Обнулення рамок та відступів в усіх тегах*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

/*зміна принципу визначення ширини блоку - ширина блоку включає товщину рамок*/
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*Прибираємо лінії обводки тегів*/
:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

/*Наступні теги визначаємо як блочні*/
nav,
footer,
header,
aside {
	display: block;
}

/*Урівнювання поведінки шрифтів для всіз бразерів та платформ та забороняє самовільне збільшення шрифта*/
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/*Встановлюємо наслідування сімейства шрифта для тегів*/
input,
button,
textarea {
	font-family: inherit;
}

/*Визначаємо параметри для тегів, що прибирають їх особливості у різних браузерах*/
input::-ms-clear {
	/*прибирає хрестик в input у ІЕ*/
	display: none;
}

button {
	/*при наведені курсору на кнопку він пертворюється на вказівник*/
	cursor: pointer;
}

button::-moz-focus-inner {
	/*Прибирають зайві відступи в FF*/
	padding: 0;
	border: 0;
}

a,
a:visited {
	/*скидаємо оформлення посилання, що відвідувалось*/
	text-decoration: none;
}

a:hover {
	/*скидаємо оформлення посилання НА ЯКЕ НАВОДИТЬСЯ КУРСОР*/
	text-decoration: none;
}

ul,
li {
	list-style: none;
	/*чистка стилів маркованих стилів*/
}

img {
	vertical-align: top;
	/*Піднімаємо картинку в гору*/
}

/*Обнуляємо заголовків*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 700;
}

h1 {
	font-size: 20px;
	margin: 0px 0 20px 0px;
}

h2 {
	font-size: 18px;
}


html,
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 16px;
}

body {
	padding: 10px;
}

.example {
	border: 1px solid #333;
	margin: 0 0 20px 0;
}

.descript,
.code {
	margin: 0 0 10px 0;
}

.head,
.descript,
.theory,
.css,
.code {
	padding: 10px;
}

.descript {
	background: #dfd;
}

.code {
	background: #ffd;
}

.code__border {
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	box-shadow: 0 0 10px#000;
}

.css span,
.theory p {
	font-weight: 700;
}

.theory {
	background-color: gold;
}

.css {
	background-color: #ddd;
}

.href {
	display: block;
	border: 1px solid gold;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.href :hover {
	background-color: gold;
}

.block-decoration {
	padding: 10px;
	margin: 0 0 15px 0;
	/*height: 220px;*/
	border-radius: 15px;
	box-shadow: 0 0 10px#000;
}

.block-decoration p {
	display: inline-block;
	padding: 3px 5px;
	font-weight: bold;
	background-color: #ffa;
	border-radius: 3px;
	border: 1px solid #777;
}

/* Стенд */
.block,
.block-none,
.block-child {
	margin: 0 0 30px 0;
}

.block-child {
	color: red;
}

.block p,
.block-none p,
.block-child {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 20px 0;
}

.link {
	color: red;
}

.textinput {
	border: 1px solid #666;
	height: 50px;
	padding: 0 15px;
	font-size: 18px;
	width: 300px;
	margin: 0 0 10px 0;
}

.textbutton {
	display: block;
	width: 300px;
	height: 50px;
	background: #666;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}

.list {}

.list li,
.list-ntt li {
	font-size: 18px;
	margin: 0 0 15px 0;
}

.shpargalka {
	display: block;
	font-size: 18px;
	text-decoration: underline;
	margin: 0 0 20px 0;
}

/* Клас для Приклад 1-3, 5*/

.button {
	position: relative;
	top: 0;

	display: inline-block;
	line-height: 60px;
	align-items: center;

	padding: 0 30px;

	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;

	border-radius: 10px;

	cursor: pointer;
}


/*Приклад 1 - Тривалість переходу - transition-duration*/

.button__duration {
	color: #fff;
	background-color: #5e5373;
	box-shadow: 0 5px 0px #3c354a;

	transition-duration: 500ms;
}

.button__duration:hover {
	top: 2px;
	background-color: #18b5a4;
	box-shadow: 0 3px 0px #3c354a;
}

/*Приклад 2 - Перелік властивостей переходу - transition-property*/

.button__property {
	color: #fff;
	background-color: #5e5373;
	box-shadow: 0 5px 0px #3c354a;
	transition-duration: 500ms, 1500ms;
	transition-property: background-color, top;

}

.button__property:hover {
	top: 2px;
	background-color: #18b5a4;
	box-shadow: 0 3px 0px #3c354a;
}


/*Приклад 3 - Затримка переходу - transition-delay*/

.button__delay {
	color: #fff;
	background-color: #5e5373;
	box-shadow: 0 5px 0px #3c354a;
	transition-delay: 0s, 500ms, 500ms;
	transition-duration: 0s, 100ms, 100ms;
	transition-property: background-color, top, box-shadow;

}

.button__delay:hover {
	top: 2px;
	background-color: #18b5a4;
	box-shadow: 0 3px 0px #3c354a;
}

/*Приклад 4 - Стиль/сценарій переходу - transition-timing-function*/

.button__timing-function {
	position: relative;
	top: 0;

	display: block;
	width: 300px;
	line-height: 60px;
	align-items: center;

	padding: 0 30px;
	margin: 20px 0 0 0;

	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;

	border-radius: 10px;

	cursor: pointer;
	color: #fff;

	transition-property: width;
	transition-duration: 1s;
}

.button__timing-function_easy {
	background-color: #5e5373;
	transition-timing-function: ease;
}

.button__timing-function_easy-in {
	background-color: #18b5a4;
	transition-timing-function: ease-in;
}

.button__timing-function_easy-out {
	background-color: #ece89d;
	transition-timing-function: ease-out;
}

.button__timing-function_easy-in-out {
	background-color: #5e5373;
	transition-timing-function: ease-in-out;
}

.button__timing-function_linear {
	background-color: #18b5a4;
	transition-timing-function: linear;
}

.button__timing-function_steps-start {
	background-color: #ece89d;
	;
	transition-timing-function: steps(5, start);
}

.button__timing-function_steps-end {
	background-color: #5e5373;
	transition-timing-function: steps(5, end);
}

.button__timing-function_cubic-bezier {
	background-color: #18b5a4;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.block__timing-function {

	padding: 0 10px 20px 10px;
	margin: 20px;
	border: 1px solid #999;
	border-radius: 10px;
	background-color: #dfd;

}

.block__timing-function:hover .button__timing-function_easy,
.block__timing-function:hover .button__timing-function_easy-in,
.block__timing-function:hover .button__timing-function_easy-out,
.block__timing-function:hover .button__timing-function_easy-in-out,
.block__timing-function:hover .button__timing-function_linear,
.block__timing-function:hover .button__timing-function_steps-end,
.block__timing-function:hover .button__timing-function_steps-start,
.block__timing-function:hover .button__timing-function_cubic-bezier {
	width: 100%;
}

/*Приклад 5 - Тривалість переходу - transition*/

.button__transition {
	color: #fff;
	background-color: #5e5373;
	box-shadow: 0 5px 0px #3c354a;

	transition: all 1s ease 0s;
	/*transition: padding 1s ease 0s, color 2s ease-in 0.5s;*/
}

.button__transition:hover {
	top: 2px;
	background-color: #18b5a4;
	box-shadow: 0 3px 0px #3c354a;
	transition: all 2s ease 0s;
}