/* Приклад 5 - Змінні та імпорт*/
// Файл обнуляющих стилей
@import "nullstyleflex_21.scss";

// Блок опису flex-box
.blok {

	&__list {
		display: flex;
		align-items: center;

		li {
			margin: 0 15px 0 0;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__info {
		position: relative;
		padding: 0 0 0 25px;

		&_c::before {
			content: "";
			position: absolute;
			top: 3px;
			left: 5%;
			width: 10px;
			height: 10px;
			background-color: #ece89d;
		}

		&_e::before {
			content: "";
			position: absolute;
			top: 3px;
			left: 5%;
			width: 10px;
			height: 10px;
			background-color: #5e5373;
		}

		&_v::before {
			content: "";
			position: absolute;
			top: 3px;
			left: 5%;
			width: 10px;
			height: 10px;
			background-color: #18b5a4;
		}
	}
}

//обгортка
.wrapper {
	height: 100%;
	overflow: hidden;
	min-height: 100%;
	padding: 50px;
}

/* Приклад 1 - flex-direction - встановлює основну вісь */

.blodirection {

	//флекс контейнер
	&__row {
		border: 20px solid #ece89d;
		margin: 0 0 10px 0;

		display: flex;

		&_row {
			flex-direction: row;
		}

		&_row-reverse {
			flex-direction: row-reverse;
		}

		&_column-stretch {
			flex-direction: column;
			align-items: stretch;
		}

		&_column-flex-start {
			flex-direction: column;
			align-items: flex-start;
		}

		&_column-flex-end {
			flex-direction: column;
			align-items: flex-end;
		}

		&_column-space-between {
			flex-direction: column;
			justify-content: space-between;
			height: 800px;
		}

		&_column-maket {
			flex-direction: column;
			height: 800px;
		}

		&_column-reverse {
			flex-direction: column-reverse;
			height: 800px;
		}


	}

	//флекс елемент
	&__column {
		border: 20px solid #5e5373;

		&_m2 {
			flex: 1 1 auto;
		}
	}

	//вміст
	&__item {
		background-color: #18b5a4;
		padding: 50px;
		font-size: 50px;
		color: #fff;
		font-weight: 700;
		line-height: 50px;
		text-align: center;
	}

}