html,
body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}

.example {
	border: 1px solid #333;
	margin: 0 0 10px 0;
}

.head,
.css,
.code {
	padding: 0 10px;
}

.code p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.theory {
	padding: 10px;
	background-color: gold;
}

.css {
	padding: 10px;
	background-color: #ddd;
}

/*Приклад 1 - селектор параметр, властивість, значення*/
.block1,
.block2 {
	font-size: 20px;
	color: red;
}

/*Приклад 2 - властивість шрифта font-family - встанолює сімейство шрифта*/
.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*Приклад 3 - властивість шрифта font-size - встанолює розмір шрифта*/
.size30 {
	font-size: 30px;

}

/*Приклад 4 - властивість шрифта font-style - встанолює начертання шрифта*/
.style {
	font-style: italic;
}

/*Приклад 5 - властивість шрифта font-weight - встанолює насиченість шрифта*/
.weight {
	font-weight: 700;
	font-size: 20px;
}

/*Приклад 6 - властивість шрифта color - встанолює колір шрифта*/
.color {
	color: red;
}

/*Приклад 7 - властивість тексту text-align - вирівнювання текcту*/
.align_r {
	text-align: right;
}

.align_j {
	text-align: justify;
}

.align_c {
	text-align: center;
}

/*Приклад 9 - властивість тексту text-decoration - додає оформлення тексту*/
.decoration_u {
	text-decoration: underline;
}

.decoration_o {
	text-decoration: overline;
}

.decoration_l {
	text-decoration: line-through;
}

/*Приклад 10 - властивість тексту text-shadow- додає текту тінь*/
.shadow {
	text-shadow: 1px 1px 10px green;
	font-size: 20px;
}

/*Приклад 11 - властивість тексту text-transform - робить літери тексту прописними або заглавними*/
.transform_u {
	text-transform: uppercase;
}

.transform_l {
	text-transform: lowercase;
}

.transform_c {
	text-transform: capitalize;
}

/*Приклад 12 - властивість тексту text-indent - починає текст з абзацу*/
.indent {
	text-indent: 50px;
}

/*Приклад 13 - властивість тексту letter-spacing - встаовлює інтервал між літерами*/
.leter {
	letter-spacing: 5px;
}

/*Приклад 14 - властивість тексту word-spacing - встаовлює інтервал між словами*/
.word {
	word-spacing: 15px;
}

/*Приклад 15 - властивість тексту white-space - керує властивостями пробілів між словами*/
.white {
	white-space: nowrap;
	/*заборояє перос стрічки*/
}

/*Приклад 16 - властивість тексту line-height - встановлює міжстрочний інтервал*/
.line {
	line-height: 28px;
}