/*Обнулення рамок та відступів в усіх тегах*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

/*зміна принципу визначення ширини блоку - ширина блоку включає товщину рамок*/
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*Прибираємо лінії обводки тегів*/
:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

/*Наступні теги визначаємо як блочні*/
nav,
footer,
header,
aside {
	display: block;
}

/*Урівнювання поведінки шрифтів для всіз бразерів та платформ та забороняє самовільне збільшення шрифта*/
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/*Встановлюємо наслідування сімейства шрифта для тегів*/
input,
button,
textarea {
	font-family: inherit;
}

/*Визначаємо параметри для тегів, що прибирають їх особливості у різних браузерах*/
input::-ms-clear {
	/*прибирає хрестик в input у ІЕ*/
	display: none;
}

button {
	/*при наведені курсору на кнопку він пертворюється на вказівник*/
	cursor: pointer;
}

button::-moz-focus-inner {
	/*Прибирають зайві відступи в FF*/
	padding: 0;
	border: 0;
}

a,
a:visited {
	/*скидаємо оформлення посилання, що відвідувалось*/
	text-decoration: none;
}

a:hover {
	/*скидаємо оформлення посилання НА ЯКЕ НАВОДИТЬСЯ КУРСОР*/
	text-decoration: none;
}

ul,
li {
	list-style: none;
	/*чистка стилів маркованих стилів*/
}

img {
	vertical-align: top;
	/*Піднімаємо картинку в гору*/
}

/*Обнуляємо заголовків*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 700;
}

h1 {
	font-size: 20px;
	margin: 0px 0 20px 0px;
}

h2 {
	font-size: 18px;
}


html,
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 16px;
}

body {
	padding: 10px;
}

.example {
	border: 1px solid #333;
	margin: 0 0 20px 0;
}

.descript,
.code {
	margin: 0 0 10px 0;
}

.head,
.descript,
.theory,
.css,
.code {
	padding: 10px;
}

.descript {
	background: #dfd;
}

.code {
	background: #ffd;
}

.code__border {
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	box-shadow: 0 0 10px#000;
}

.css span,
.theory p {
	font-weight: 700;
}

.theory {
	background-color: gold;
}

.css {
	background-color: #ddd;
}

.href {
	display: block;
	border: 1px solid gold;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.href :hover {
	background-color: gold;
}

.block-decoration {
	padding: 10px;
	margin: 0 0 15px 0;
	/*height: 220px;*/
	border-radius: 15px;
	box-shadow: 0 0 10px#000;
}

.block-decoration p {
	display: inline-block;
	padding: 3px 5px;
	font-weight: bold;
	background-color: #ffa;
	border-radius: 3px;
	border: 1px solid #777;
}

/* Стенд */
.block,
.block-none,
.block-child {
	margin: 0 0 30px 0;
}

.block-child {
	color: red;
}

.block p,
.block-none p,
.block-child {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 20px 0;
}

.link {
	color: red;
}

.textinput {
	border: 1px solid #666;
	height: 50px;
	padding: 0 15px;
	font-size: 18px;
	width: 300px;
	margin: 0 0 10px 0;
}

.textbutton {
	display: block;
	width: 300px;
	height: 50px;
	background: #666;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}

.list {}

.list li,
.list-ntt li {
	font-size: 18px;
	margin: 0 0 15px 0;
}

.shpargalka {
	display: block;
	font-size: 18px;
	text-decoration: underline;
	margin: 0 0 20px 0;
}



/*Приклад 1 - позиціонування position:static;*/
.block__static {
	border: 5px solid red;
	max-width: 800px;
	height: 500px;
	margin: 0 auto;
}

.block__static div {
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
}

.block__static_1 {
	position: static;
	background-color: #ece89d;
}

.block__static_2 {
	position: static;
	background-color: #5e5373;
	color: #fff;
}

.block__static_3 {
	position: static;
	background-color: #18b5a4;
}

/*Приклад 2 - позиціонування position:relative*/
.block__relative {
	border: 5px solid red;
	max-width: 800px;
	height: 500px;
	margin: 0 auto;
}

.block__relative div {
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
}

.block__relative_1 {
	position: relative;
	background-color: #ece89d;
}

.block__relative_2 {
	position: relative;
	background-color: #5e5373;
	color: #fff;
	top: 60px;
	left: 60px;
	height: 100px;
	z-index: 1;
}

.block__relative_3 {
	position: relative;
	background-color: #18b5a4;
}

/*Приклад 3 - позиціонування position:absolute*/
.block__absolute {
	border: 5px solid red;
	max-width: 800px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}

.block__absolute div {
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
}

.block__absolute_1 {
	background-color: #ece89d;
	z-index: 3;
}

.block__absolute_2 {
	position: absolute;
	background-color: #5e5373;
	color: #fff;
	top: 10px;
	left: 0;
	z-index: 1;
}

.block__absolute_22 {
	position: absolute;
	background-color: #dda133;
	color: #fff;
	top: 90px;
	left: 40px;
	width: 100%;
}


.block__absolute_3 {
	background-color: #18b5a4;
	position: relative;
	z-index: 2;
}

/*Приклад 4 - позиціонування position:fixed*/
.block__fixed {
	border: 5px solid red;
	max-width: 800px;
	height: 500px;
	margin: 0 auto;
}

.block__fixed div {
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
}

.block__fixed_1 {
	background-color: #ece89d;
	z-index: 1;
}

.block__fixed_2 {
	position: fixed;
	background-color: #5e5373;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
}

.block__fixed_3 {
	position: relative;
	background-color: #18b5a4;
	z-index: 2;
}

/*Приклад 5 - позиціонування position:sticky*/
.block__sticky {
	border: 5px solid red;
	max-width: 800px;
	height: 500px;
	margin: 0 auto;
}

.block__sticky div {
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
}

.block__sticky_1 {
	background-color: #ece89d;
}

.block__sticky_2 {
	position: sticky;
	background-color: #dda133;
	color: #fff;
	top: 0;
}

.block__sticky_3 {
	background-color: #18b5a4;
}

.block__sticky_4 {
	position: sticky;
	background-color: #8a5b03;
	color: #fff;
	top: 0;
}

.block__sticky_5 {
	background-color: #0a7369;
}



/*Приклад 6 - Складності позиціонування absolute*/
.block__complexities {
	border: 5px solid red;
	max-width: 800px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}

.block__complexities div {
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
}

.block__complexities_1 {
	background-color: #ece89d;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
}

.block__complexities_2 {
	background-color: #5e5373;
	;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;

}

.block__complexities_3 {
	background-color: #18b5a4;
	position: relative;
	z-index: 1;
}