html,
body {
	font-family: Arial, Helvetica, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
	position: relative;
	padding: 0 0 0 20px;

	&::before {
		content: "";
		display: block;
		left: 0;
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background-color: firebrick;
	}
}

h2 {
	margin-left: 20px;

	&::before {
		content: "";
		top: 10px;
		background-color: yellowgreen;

	}
}

h3 {
	margin-left: 40px;

	&::before {
		content: "";
		top: 5px;
		background-color: blueviolet;
	}
}

h4 {
	margin-left: 60px;

	&::before {
		content: "";
		top: 4px;
		background-color: goldenrod;
	}
}

h5 {
	margin-left: 80px;

	&::before {
		content: "";
		top: 2px;
		background-color: purple;
	}
}

h6 {
	margin-left: 100px;
}