/* Приклад 5 - Змінні та імпорт*/
// Файл обнуляющих стилей
@import "nullstyleflex_22.scss";

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Оболонка wrapper сторінки:*/
.wrapper {
	/* - задає висоту сторінки*/
	min-height: 100%;
	/* - прибирає скроли */
	overflow: hidden;
	/* - ділить сторінку на header body footer*/
	display: flex;
	flex-direction: column;
}

/* Оболонка conteiner для контенту сторінки/блоків сторінки:*/
.conteiner {
	/* - задає ширину*/
	max-width: 1180px;
	/* - центрує*/
	margin: 0 auto;
}

/*Блок content - Тіло сторінки*/
.content {
	flex: 1 1 auto;
}

.hi {
	background-color: #445162;

	/* flex-container */
	&__row {
		padding: 50px 0;

		display: flex;
		justify-content: space-between;
	}

	/* flex-element */
	&__body {
		color: #fff;

		/*відступ від картинки - з правою сторонм*/
		padding: 0 30px 0 0;
	}

	&__title {
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
		font-size: 60px;
		margin: 0 0 38px 0;
	}

	&__list {
		& li {
			background: url('/22_flex/flexmaket/img/icons/icon.png')0 1px no-repeat;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
			font-size: 20px;
			padding: 0 0 0 36px;
			margin: 0 0 15px 0;
			line-height: 22px;
		}

		& li:last-child {
			margin: 00;
		}
	}

	&__image {
		/* розмір картинки жорсткий і не змінний*/
		flex: 0 0 469px;

		/* картинкf займає всю ширину flex-element*/
		& img {
			max-width: 100%;
		}
	}
}


/* title - загальний для всіх */
.title {
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
}

.what {

	/* flex-container */
	&__row {
		padding: 50px 0;

		display: flex;
		justify-content: space-between;
	}

	/* flex-element */
	&__image {
		/* розмір картинки жорсткий і не змінний*/
		flex: 0 0 430px;

		/* картинкf займає всю ширину flex-element*/
		& img {
			max-width: 100%;
		}
	}

	/* flex-element */
	&__body {
		/*розмір тесту адаптивний*/
		flex: 1 1 auto;
		padding: 0 0 0 30px;
	}

	/* title - для блоку what */
	&__title {
		margin: 0 0 33px 0;
	}

	&__text {
		& p:first-child {
			margin: 0 0 25px 0;
		}

		& p {
			color: #333;
			font-size: 16px;
			line-height: 24px;
		}

	}
}


/*Блок - Колонки*/
.columns {
	background-color: #f5f5f5;
	padding: 50px 0 20px 0;

	&__title {
		text-align: center;
		/*відступ від заголовка до колонок з текстом*/
		margin: 0 0 30px 0;
	}

	/*FLEX - контейнер*/
	&__row {
		display: flex;
		/*дозволяємо пернос конок*/
		flex-wrap: wrap;

		/*відступи між КОЛОНКАМИ*/
		/*розширяємо FLEX-контейнер на 1/2 відступу між FLEX-елементами*/
		margin: 0 -8px;
	}

	/*FLEX - елемент*/
	&__column {
		/*звужуємо FLEX-елемент на 1/2 відступу між ними*/
		padding: 0 8px;

		/*збільшуватись забороняємо дозволяємо зменшуватись базова ширина колонки*/
		flex: 0 1 50%;
		margin: 0 0 30px 0;

	}

	//&__item {}
}

.item {
	&__row {
		display: flex;
	}

	&__image {
		/*фіксуємо розмір картинки*/
		flex: 0 0 200px;
	}

	&__body {
		flex: 1 1 auto;
		padding: 0 0 0 10px;
	}

	&__title {
		color: #445161;
		font-size: 24px;
		line-height: 30px;
		margin: 0 0 13px 0;
	}

	&__text {
		color: #333;
		font-size: 16px;
		line-height: 24px;
	}
}

/*Блок Вертикальний */
.vertical {
	padding: 50px 0;

	&__title {
		text-align: center;
		margin: 0 0 29px 0;
	}

	&__body {
		/*ширина блоку*/
		max-width: 990px;
		/*центрування блоку*/
		margin: 0 auto;
	}

	&__row {
		display: flex;
		/*відступи між flex-елементами*/
		margin: 0 -22.5px;
	}

	&__column {
		/*відступи між flex-елементами*/
		padding: 0 22.5px;
		/*ширина flex-елементами*/
		flex: 0 1 33.33%;

		&_1 {
			//order: 3;
			//align-self: center;
		}

		&_2 {
			//order: 1;
		}

		&_3 {
			//order: 2;
			//align-self: flex-end;
		}

		display: flex;

	}

	&__item {
		background-color: #445162;
		color: #fff;
		border-radius: 5px;
		border: 1px solid #445162;

		padding: 0 0 20px 0;

		display: flex;
		flex-direction: column;
	}

	&__subtitle {
		text-align: center;
		font-size: 24px;
		text-transform: uppercase;
		padding: 12px 0;
	}

	&__lable {
		background-color: #fff;
		color: #445162;
		text-align: center;
		padding: 15px 0;
		font-size: 40px;
	}

	&__text {
		padding: 20px;
		font-size: 14px;
		line-height: 24px;

		flex: 1 1 auto;

		& p {
			margin: 0 0 15px 0;
		}

		& p:last-child {
			margin: 0;
		}
	}

	&__btn {
		display: block;
		height: 40px;
		background-color: #fff;
		color: #445162;
		margin: 0 20px;
		line-height: 40px;
		text-align: center;
		border-radius: 5px;
		font-size: 18px;
	}
}



/* Блок footer - Підвал сторінки*/
.footer {
	background-color: #f5f5f5;

	&__row {
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		color: #445162;
		font-size: 12px;
		letter-spacing: 0.3px;
	}
}